html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
    title= title
  body
    a(href="/signin") Sign in
    
    h1 Contact Info
    h2 Name
    hr
    a(href="/") Back To List 
    p 
      b Phone number: 
      | 583.697.1734 x0810
    p 
      i May be contacted by phone or text
    hr
    p 
      b Email Address: 
      | Aryanna.OKeefe@gmail.com
    p 
      i May be contacted by email
    hr
    p 
      b Address: 
      | 33477 Bergstrom Fields
      | Malindafurt, South Carolina 42255
      | United States
    hr
    a(href="#") Edit Contact
    br
    a(href="#") Delete Contact 
    

