html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
    title= title
  body 
    h1 Sign In

    form(action="/login" method="POST" id="loginForm")
        label Username: 
        input(type="text" id="username" name="username") 
        label Password: 
        input(type="password" id="password" name="password")
        input(type="submit" value="Sign in")
        a(href="/") Nevermind
        p Don't have an account yet? 
          a(href="/signup") Sign up here!
        
      
