html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css")
    title= title
  body 
    h1 Sign In

    form(action="/submitContactForm" method="POST")
        label First Name: 
        input(type="text" id="firstName" name="firstName") 
        label Last Name: 
        input(type="text" id="lastName" name="lastName")
        hr
        label UserName: 
        input(type="text" id="username" name="username")
        label Password: 
        input(type="password" id="password" name="password")
        label Confirm Password: 
        input(type="password" id="confirmPassword" name="confirmPassword")
        button(type="button") Sign up
        a(href="/") Nevermind
        p Already have an account? 
          a(href="/signin") Sign in here!

        
